%div.row-fluid
  =@job_posting.position
  =@job_posting.job_description
  =@job_posting.expiration_date
  =@job_posting.location
  / =@job_posting.email
  / =@job_posting.phone
  =@job_posting.job_category
  =@job_posting.application_instruction
  =@job_posting.qualifications