/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_loader
 *= require s3_direct_upload_progress_bars
 *= require_tree .
 */


#main_container{
	
}

.inner-content{
	margin-top: 100px;
}
/* require jquery.fileupload-ui*/
.bold{
	font-weight: bold;
}

html{



}
body{
/*  font-family: Verdana, Helvetica, Arial;*/
	
  font-size: 14px;
  background: url(house.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

a, img {
  border: none;
}

a {
  color: #0000FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
header{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	
}

footer{
	height: 100px;
	background-color: #ffffff;
	margin-top: 50px;
}
.content {
/*	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;*/
	/* Fallback for web browsers that doesn't support RGBa */
		/*background: rgb(0, 0, 0);*/
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.8);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
/*  width: 75%;
  margin: 0 auto;*/
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  /*margin-top: 20px;*/
  min-height: 500px;
}
.form{

  padding: 20px;
  background-color: #FFF;
  min-height: 200px;
}
.frontcontainer{
	overflow:auto;
	display:block;
	margin:0 auto;
	width: 100%;
	height: 100%;
}
span.clear{
	clear:both;
}
div.col1{
	float:left;
	width:60%;
	padding-right:40px;
	
	
}
.col1{
	border-right: 1px solid #696969;
}
div.col2{
	padding-left: 40px;
	float:left;
	width:28%;
}
div.col2 ul{
	margin:0 auto;
}
li,  a{
	list-style-type: none;
	text-decoration: none;
	color: #696969;
}





.ribbon {
	 margin-left: -18px;
   width: 976px;
   position: absolute;
   text-align: center;
   font-size: 19px!important;
   background: #4c58d4;
   background: -webkit-gradient(linear, left top, left bottom, from(#4c58d4), to(#243391));
   background: -webkit-linear-gradient(top, #4c58d4, #243391);
   background: -moz-linear-gradient(top, #4c58d4, #243391);
   background: -ms-linear-gradient(top, #4c58d4, #243391);
   background: -o-linear-gradient(top, #4c58d4, #243391);
   background-image: -ms-linear-gradient(top, #4c58d4 0%, #243391 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
  .ribbon a {
   font-size: 14px !important;
   color: #f1ce0f !important;
   text-shadow: #70651e 0 1px 0 !important;
/*reverse*/
/*   color: #70651e !important;
   text-shadow: #f1ce0f 0 1px 0 !important;*/
   margin:0px !important;
   padding: 15px 10px !important;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #3a51c2;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #1e1685 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
/*   border-top: 1px dashed rgba(0, 0, 0, 0.2);     dark blue*/
/*	border-top: 1px dashed rgba(167, 4, 4, 1);      dark red */
	border-top: 1px dashed rgba(241, 206, 15, 1);        /*gold*/
	

   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
/*   border-top: 1px dashed rgba(0, 0, 0, 0.2);*/
/*	border-top: 1px dashed rgba(167, 4, 4, 1);*/
		border-top: 1px dashed rgba(241, 206, 15, 1);        /*gold*/
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

#header_logo{
	position: absolute;
	z-index: 9999;
	margin-top: -75px;
	margin-left: 25px;
}

#nav_ul{
	margin-right: 20px;
}

.navbar .nav> .active > a{
		color: #bd3838 !important;
		background: none;
		text-decoration: none !important;
		background-color: #4c58d4 !important;
		background: -webkit-gradient(linear, left top, left bottom, from(#4c58d4), to(#243391));
   background: -webkit-linear-gradient(top, #4c58d4, #243391);
   background: -moz-linear-gradient(top, #4c58d4, #243391);
   background: -ms-linear-gradient(top, #4c58d4, #243391);
   background: -o-linear-gradient(top, #4c58d4, #243391);
   background-image: -ms-linear-gradient(top, #4c58d4 0%, #243391 100%);
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;

}
.navbar > .active > a:hover{
		color: #f9f087;
}
.navbar > li > a:hover{
		color: #f9f087;
}


#see_house{
	margin-top: -60px;
  background-color: hsl(13, 100%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4714", endColorstr="#841c00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff4714), to(#841c00));
  background-image: -moz-linear-gradient(top, #ff4714, #841c00);
  background-image: -ms-linear-gradient(top, #ff4714, #841c00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4714), color-stop(100%, #841c00));
  background-image: -webkit-linear-gradient(top, #ff4714, #841c00);
  background-image: -o-linear-gradient(top, #ff4714, #841c00);
  background-image: linear-gradient(#ff4714, #841c00);
  border-color: #841c00 #841c00 hsl(13, 100%, 19%);
	/*border: 1px solid #841c00;*/
  color: #f9f087 !important;
	font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}
#footer_toggle_button{

  background-color: hsl(13, 100%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4714", endColorstr="#841c00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff4714), to(#841c00));
  background-image: -moz-linear-gradient(top, #ff4714, #841c00);
  background-image: -ms-linear-gradient(top, #ff4714, #841c00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4714), color-stop(100%, #841c00));
  background-image: -webkit-linear-gradient(top, #ff4714, #841c00);
  background-image: -o-linear-gradient(top, #ff4714, #841c00);
  background-image: linear-gradient(#ff4714, #841c00);
  border-color: #841c00 #841c00 hsl(13, 100%, 19%);
	/*border: 1px solid #841c00;*/
  color: #f9f087 !important;
	font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}




footer{
	margin-bottom:0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c58d4), to(#243391));
  background: -webkit-linear-gradient(top, #4c58d4, #243391);
  background: -moz-linear-gradient(top, #4c58d4, #243391);
  background: -ms-linear-gradient(top, #4c58d4, #243391);
  background: -o-linear-gradient(top, #4c58d4, #243391);
  background-image: -ms-linear-gradient(top, #4c58d4 0%, #243391 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
	
	height: 100px;
	width: auto;
}
footer a{
	font-size: 14px !important;
  color: #f1ce0f !important;
	font-weight: bold;
/*  text-shadow: #70651e 0 2px 2px !important;*/
text-shadow: #000 0 1px 1px !important;
	background: #4c58d4;
	text-decoration: none;
}
footer a:hover{
	color: #f9f087 !important;
	bacground-color: #4c58d4 !important;
	
}